server:
  port: 8080

spring:
  application:
    name: mtg-application-gateway
  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=
        - Access-Control-Allow-Origin
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "http://localhost:3000"
            allowedHeaders: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - OPTIONS
  main:
    web-application-type: reactive

eureka:
  client:
    service-url:
      defaultZone: ${SPRING_EUREKA_URL}

management:
  endpoint:
    gateway:
      access: unrestricted
  endpoints:
    web:
      exposure:
        include: '*'
